<header class="estrela__header">
	<div class="estrela__cabecalho">
		<h1 class="cabecalho__titulo">Black Star</h1>
		<div class="cabecalho__container">
			<app-search
				(buttonClicked)="changeButtonsVisibility($event)"
			></app-search>
			<button
				type="menu"
				class="cabecalho__menu-mobile marked__button"
				[style]="buttonsStats.menu"
				(click)="changeCartAndMenuVisibility('menu')"
				*ngIf="btnMenuVisibility"
				aria-label="menu"
			></button>
			<div class="cabecalho__menu">
				<a class="menu__botao" [routerLink]="['/']">início</a>
				<a
					class="menu__botao"
					[routerLink]="['/list']"
					[queryParams]="{ q: 'masculino' }"
				>
					masculino
				</a>
				<a
					class="menu__botao"
					[routerLink]="['/list']"
					[queryParams]="{ q: 'feminino' }"
				>
					feminino
				</a>
				<a
					class="menu__botao"
					href="https://angular-blog-pink.vercel.app/"
					target="_blank"
					rel="noopener noreferrer"
				>
					noticias
				</a>
			</div>
			<div class="cabecalho__carrinho">
				<button
					aria-label="carrinho"
					*ngIf="btnCartVisibility"
					class="carrinho__botao marked__button"
					[style]="buttonsStats.cart"
					(click)="changeCartAndMenuVisibility('cart')"
				>
					<p
						*ngIf="reducer(selectedProducts) > 0"
						[style]="buttonsStats.cart"
					>
						{{ convertCartNumber(reducer(selectedProducts)) }}
					</p>
					<app-counter-animation
						class="counter__animation"
						[style]="buttonsStats.cart"
						[number]="reducer(selectedProducts)"
					></app-counter-animation>
				</button>
			</div>
		</div>
	</div>
	<app-button *ngIf="showMobileMenuOptions"></app-button>
	<app-cart
		*ngIf="showProductCart"
		[selectedProducts]="selectedProducts"
	></app-cart>
</header>
