@media screen and (max-width: 1350px) {
	.estrela__header {
		border-bottom: 2px solid var(--preto);
		transition: all 200ms;
	}
	.estrela__cabecalho {
		align-items: center;
		border: none;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		padding: 1rem 1rem 0.5rem 1rem;
	}

	.cabecalho__titulo {
		margin: 0;
		font-size: 1.5rem;
		width: 40%;
		&::before {
			height: 20px;
			width: 20px;
		}
	}

	.cabecalho__container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 0;
		height: 50px;
		width: 60%;
	}

	.cabecalho__pesquisa {
		max-width: 100%;
		height: 50px;
	}

	.pesquisa__form,
	.pesquisa__form:active,
	.pesquisa__form:focus,
	.pesquisa__form:focus-visible,
	.pesquisa__form:focus-within,
	.pesquisa__form:target {
		box-sizing: border-box;
		border: none;
		outline: none;
		height: 100%;
		width: 100%;
	}

	.pesquisa__input {
		display: none;
		width: 80%;
	}

	.pesquisa__icone {
		background-size: 60%;
		box-sizing: border-box;
		padding-inline: 0;
		padding-block: 0;
		width: 50px;
		line-height: 0;
		height: 48px;
		outline: none;
	}

	.cabecalho__menu-mobile {
		background-color: white;
		background-image: url("../../../../assets/img/svg/menu.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 60%;
		border: none;
		cursor: pointer;
		display: inline-block;
		height: 0;
		padding: 25px;
	}
	.cabecalho__menu,
	.cabecalho__carrinho {
		display: none;
	}
	.cabecalho__carrinho {
		display: block;
		margin: 0;
	}
	.carrinho__botao {
		transform: translateX(0px);
	}
}
