.estrela__cabecalho,
.cabecalho__container,
.cabecalho__menu,
.carrinho__botao > p {
	display: flex;
}
.estrela__header {
	background-color: var(--branco);
	position: fixed;
	width: 100%;
	z-index: 3;
}
.estrela__cabecalho {
	align-items: center;
	border-bottom: 2px solid var(--preto);
	flex-direction: column;
}

.cabecalho__titulo {
	font-family: var(--handwriting-font);
	font-size: 2rem;
	margin: 1rem 0 0 0;
	&::before {
		animation: spin 10s 3s infinite both;
		background: url("../../../../assets/img/svg/star.svg") center no-repeat;
		background-size: cover;
		content: "";
		display: inline-block;
		height: 30px;
		width: 30px;
	}
}

.cabecalho__container {
	align-items: stretch;
	justify-content: center;
	margin-top: 3rem;
	width: 90%;
}

.cabecalho__menu-mobile {
	display: none;
}

.cabecalho__menu {
	align-items: center;
	margin: 0 20% 0 10%;
	height: 100%;
}

.menu__botao {
	-moz-appearance: button;
	appearance: button;
	border: none;
	background: none;
	cursor: pointer;
	color: black;
	display: block;
	font-weight: 500;
	font-size: 1rem;
	padding: 0.5rem 0.5rem 26px 0.5rem;
	line-height: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0;
	text-align: center;
	height: 100%;
	&:hover,
	&:active,
	&:focus,
	&:focus-visible {
		color: white;
		background: var(--preto);
		text-decoration: none;
		outline: none;
	}
}

.carrinho__botao {
	border: none;
	background: url("../../../../assets/img/svg/cart.svg") center no-repeat;
	background-size: 60%;
	cursor: pointer;
	position: relative;
	padding: 25px 25px;
	transform: translateX(3rem);
	& > .counter__animation {
		position: absolute;
		z-index: 3;
	}
}

.carrinho__botao > p {
	align-items: center;
	background-color: var(--vermelho);
	border-radius: 100%;
	color: white;
	justify-content: center;
	font-size: 0.8rem;
	left: 28px;
	height: 20px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	width: 20px;
	z-index: 2;
}
/* Generic Styles */

.marked__button {
	background-color: white;
	border-radius: 10%;
}
