<header class="estrela__header">
	<div class="estrela__cabecalho">
		<h1 class="cabecalho__titulo">Black Star</h1>
		<div class="cabecalho__container">
			<div class="cabecalho__pesquisa">
				<form
					method="get"
					class="pesquisa__form"
					[style.border]="searchBorder"
				>
					<input
						type="search"
						name="search"
						id="search"
						required
						class="pesquisa__input"
						[style.display]="searchVisibility"
						placeholder="Exemplo: Camisas"
						pattern="[\D*\s*]*"
						title="A pesquisa deve conter apenas letras de a-z"
					/>
					<input
						(click)="switchSearchMode()"
						type="submit"
						name="search"
						id="search"
						value=""
						class="pesquisa__icone marked__button"
						[style]="buttonsStats.search"
						[style.border-radius]="searchButtonBorder"
					/>
				</form>
			</div>
			<button
				type="menu"
				class="cabecalho__menu-mobile marked__button"
				[style]="buttonsStats.menu"
				data-menu="btn"
				(click)="changeMobileMenuOptionsVisibility()"
				*ngIf="btnMenuVisibility"
			></button>
			<div class="cabecalho__menu">
				<button
					class="menu__botao"
					*ngFor="let option of menuOptions; let i = index"
				>
					{{ option }}
				</button>
			</div>
			<div class="cabecalho__carrinho">
				<button
					*ngIf="btnCartVisibility"
					class="carrinho__botao marked__button"
					[style]="buttonsStats.cart"
					(click)="changeProductCartVisibility()"
				>
					<p *ngIf="this.products.length" [style]="buttonsStats.cart">
						{{ convertCartNumber(this.products.length) }}
					</p>
				</button>
			</div>
		</div>
	</div>
	<app-button *ngIf="showMobileMenuOptions"></app-button>
	<app-cart *ngIf="showProductCart" [products]="products"></app-cart>
</header>
