<div class="cabecalho__pesquisa">
	<form
		method="get"
		class="pesquisa__form"
		[style.border]="searchMode ? '2px solid black' : ''"
		[formGroup]="clothesSearch"
		(submit)="onSubmit()"
	>
		<input
			type="search"
			name="searchInput"
			id="searchInput"
			required
			class="pesquisa__input"
			[style.display]="searchVisibility"
			formControlName="searchInput"
			placeholder="Exemplo: Camisas"
			pattern="[\D*\s*]*"
			title="A pesquisa deve conter apenas letras de a-z"
			aria-label="caixa de texto para pesquisar produto"
		/>
		<input
			(click)="switchSearchMode()"
			type="submit"
			name="searchInput"
			id="searchInputButton"
			value=""
			class="pesquisa__icone marked__button"
			aria-label="botão pesquisar produto"

		/>
		<span
			*ngIf="
				clothesSearch.invalid &&
				(clothesSearch?.dirty || clothesSearch?.touched)
			"
			class="alert-danger"
		>
			<div>A pesquisa deve conter apenas letras.</div>
		</span>
		<span
			*ngIf="
				clothesSearch.invalid &&
				(clothesSearch?.dirty || clothesSearch?.touched) &&
				searchMode
			"
			class="alert-danger-mobile"
		>
			<div>A pesquisa deve conter apenas letras.</div>
		</span>
	</form>
</div>
