<div class="cabecalho__mobile">
	<div class="cabecalho__mobile-menu">
		<button
			class="menu__botao slideInBottom"
			[style.animation-delay]="getAnimateDelay(3, 50)"
			[routerLink]="['/']"
		>
			início
		</button>
		<button
			class="menu__botao slideInBottom"
			[style.animation-delay]="getAnimateDelay(2, 50)"
			[routerLink]="['/list']"
			[queryParams]="{ q: 'masculino' }"
		>
			masculino
		</button>
		<button
			class="menu__botao slideInBottom"
			[style.animation-delay]="getAnimateDelay(1, 50)"
			[routerLink]="['/list']"
			[queryParams]="{ q: 'feminino' }"
		>
			feminino
		</button>
		<a
			class="menu__botao slideInBottom"
			[style.animation-delay]="getAnimateDelay(0, 50)"
			href="https://angular-blog-pink.vercel.app/"
			target="_blank"
			rel="noopener noreferrer"
		>
			noticias
		</a>
	</div>
</div>
