@media screen and (min-width: 1000px) {
	.product__card {
		align-content: center;
		flex-wrap: wrap;
		height: 70vh;
	}
	.product__card > * {
		width: 40%;
	}
	.product__card > :first-child {
		height: 70vh;
		width: 40%;
		margin-right: 1rem;
	}
	.product__card-titulo {
		font-size: 2rem;
	}
	.product__card > :nth-child(3) {
		align-items: flex-start;
		flex-direction: column-reverse;
		margin-bottom: 0;
		& > * {
			margin-top: 0.5rem;
			margin-bottom: 0;
		}
		& > .product__card-rating {
			font-size: 1.3rem;
		}
	}

	.product__card-size-buttons,
	.product__card-size-text {
		margin-top: 0.5rem;
	}
	.product__card > .product__card-button,
	.product__card > .product__card-descrition {
		width: 30%;
	}
}
