<div class="estrela__inverno">
	<div class="inverno__container">
		<div class="inverno__textArea">
			<h3 class="textArea__titulo">
				<strong>Coleção</strong><br />Inverno 2023
			</h3>
			<p class="textArea__descricao">
				Nosso moletom é flanelado por dentro, por isso é muito mais
				quentinho e fofo, é uma peça de extrema qualidade,
				proporcionando conforto e estilo para te aquecer nesse inverno.
				Os moletons são unissex, possuem capuz e bolsos laterais...
				assim todos podem ficar quentinhos e formidáveis!
			</p>
			<a [routerLink]="['/list']" class="link">Conferir Coleção </a>
		</div>
		<div class="inverno__foto">
			<img
				class="inverno__foto-destaque"
				src="../../../../../assets/img/webp/modelocelb.webp"
				alt="Moletom lolja"
			/>
		</div>
		<div class="inverno__preview">
			<a
				[routerLink]="['/list']"
				class="preview__cartao"
				*ngFor="let product of products.slice(0, 4)"
				><img src="{{ product.render.img }}" alt=""
			/></a>
		</div>
	</div>
</div>
