.cabecalho__carrinho-menu {
	background-color: var(--branco);
	border: 2px solid var(--preto);
	border-top: none;
	border-right: none;
	border-bottom-left-radius: 20px;
	max-height: 240px;
	position: absolute;
	padding-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	right: 0;
	width: 50%;
}

.cabecalho__carrinho-menu::-webkit-scrollbar {
	display: none;
}

@media screen and (min-width: 700px) {
	.cabecalho__carrinho-menu {
		margin-top: -2px;
		width: 25%;
	}
}

@media screen and (min-width: 1350px) {
	.cabecalho__carrinho-menu {
		width: 25%;
	}
}
