.header {
	display: block;
	min-height: 150px;
}
.cart {
	animation-duration: 500ms;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 2rem;
	padding: 0 2rem;
	& > * {
		margin-bottom: 2rem;
	}
}
.all_indice {
	width: 100%;
}
.cart__products {
	animation-duration: 500ms;
	width: 60%;
	overflow: hidden;
}
.cart__resume {
	animation-duration: 800ms;
	width: 30%;
}
@media screen and (max-width: 1000px) {
	.header {
		display: block;
		min-height: 70px;
	}
	.cart {
		padding: 0 1rem;
		flex-direction: column;
	}
	.cart__products,
	.cart__resume {
		width: 100%;
	}
}
@media screen and (min-width: 1000px) {
	.all_indice {
		width: 100%;
		padding: 0 2rem;
	}
}
