<app-header [selectedProducts]="selectedProducts" class="header"></app-header>
<app-confirmation-dialog
	*ngIf="productConfirmation.alive"
	style="margin: 0"
	[question]="productConfirmation.question"
	(buttonClicked)="confirmationDialogHandler($event)"
></app-confirmation-dialog>
<app-message-dialog
	*ngIf="messageDialogObject.alive"
	(buttonClicked)="disposeMessageDialog()"
	[title]="messageDialogObject.reason"
	[description]="messageDialogObject.description"
></app-message-dialog>
<main class="cart fadeIn">
	<div class="all_indice">
		<div class="all_indice-btn">
			<a [routerLink]="['/']" aria-label="ir para página inicial"></a>
			<a (click)="goBack()" aria-label="voltar para última acessada"></a>
		</div>
	</div>
	<div
		class="cart__products slideInRight"
		*ngIf="selectedProducts.length > 0"
	>
		<app-cart-header
			[selectedProducts]="selectedProducts"
			(Confirmation)="showConfirmationDialog($event)"
		></app-cart-header>
		<app-cart-item
			(Confirmation)="showConfirmationDialog($event)"
			(Exception)="showMessageDialog($event)"
			[selectedProducts]="selectedProducts"
		></app-cart-item>
	</div>
	<app-cart-resume
		[selectedProducts]="selectedProducts"
		*ngIf="selectedProducts.length > 0"
		class="cart__resume slideInLeft"
	></app-cart-resume>
	<app-error
		*ngIf="selectedProducts.length <= 0"
		title="Carrinho vazio"
		description="Você removeu todos os produtos do seu carrinho, por favor escolha alguns produtos e volte aqui :D"
	></app-error>
</main>
<app-footer></app-footer>
