<app-header [selectedProducts]="selectedProducts" class="header"></app-header>
<main class="cart fadeIn">
	<div class="cart__products slideInRight" *ngIf="selectedProducts.length > 0">
		<app-cart-header
			[selectedProducts]="selectedProducts"
		></app-cart-header>
		<app-cart-item [selectedProducts]="selectedProducts"></app-cart-item>
	</div>
	<app-cart-resume
		[selectedProducts]="selectedProducts"
		*ngIf="selectedProducts.length > 0"
		class="cart__resume slideInLeft"
	></app-cart-resume>
	<app-error
		*ngIf="selectedProducts.length <= 0"
		title="Carrinho vazio"
		description="Você removeu todos os produtos do seu carrinho, por favor escolha alguns produtos e volte aqui :D"
	></app-error>
</main>
<app-footer></app-footer>
