.estrela__categorias {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 4rem auto;
    width: 90%;
}

.estrela__categorias a {
    color: var(--preto);
    text-decoration: none;
    outline: none;
}

.categorias__card {
    height: 400px;
    overflow: hidden;
    margin: 1rem;
    width: 40%;
}

.categorias__card figure{
    height: 100%;
    position: relative;
    width: 100%;
}

.categorias__card img{
    position: relative;
    width: 100%;
    transition: 300ms;
}

.categorias__card figure figcaption{
    align-items: flex-end;
    background: var(--preto-transparente);
    bottom: 0;
    color: var(--branco);
    display: flex;
    font-size: 3rem;
    font-family: var(--trending-font);
    height: 50%;
    left: 0;
    padding: 30px 20px;
    position: absolute;
    width: 100%;
}
.categorias__card figure figcaption::after {
    content: '★';
    padding-left: 7px;
}

.categorias__card figure p {
    bottom: 0;
    color: var(--cinza-claro);
    font-family: var(--trending-font);
    font-size: 1.5rem;
    left: 0;
    padding: 15px 20px;
    position: absolute;
}

.categorias__card:hover img,
.categorias__card:focus img,
.categorias__card:focus-visible img,
.categorias__card:active img,
.categorias__card:target img {
    transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
    .categorias__card {
        height: 200px;
        margin: 1rem;
        width: 90%;
    }
    .categorias__card figure figcaption{
        font-size: 2rem;
    }
    .categorias__card figure p {
        font-size: 1rem;
    }
}