.estrela__cabecalho {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.cabecalho__titulo {
    font-family: var(--handwriting-font);
    margin: 0 0;
}
.cabecalho__titulo::before {
    background: url(../img/star-solid.svg) center no-repeat;
    content: '';
    display: inline-block;
    height: 30px;
    margin-right: 5px;
    width: 30px;
}

.cabecalho__container {
    width: 90%;
}

.cabecalho__pesquisa {
    display: inline-block;
}

.cabecalho__pesquisa form {
    border: 1px solid var(--cinza-claro);
}
.pesquisa__input {
    border: none;
    padding-left: 1rem;
}
.pesquisa__input:focus,
.pesquisa__input:active,
.pesquisa__input:focus-visible {
    border: none;
    outline: none;
}
.pesquisa__input::placeholder {
    font-size: 1rem;
    font-weight: 100;
}
.pesquisa__icone {
    background: url(../img/search-icon.svg) center no-repeat;
    background-size: 50%;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
}