.estrela__cabecalho {
    align-items: center;
    border-bottom: 2px solid var(--preto);
    display: flex;
    flex-direction: column;
}

.cabecalho__titulo {
    font-family: var(--handwriting-font);
    margin: 1rem 0 0 0;
}
.cabecalho__titulo::before {
    background: url(../img/star-solid.svg) center no-repeat;
    content: '';
    display: inline-block;
    height: 30px;
    margin-right: 5px;
    width: 30px;
}

.cabecalho__container {
    display: flex;
    align-items: stretch;
    margin-top: 3rem;
    width: 90%;
}

.cabecalho__pesquisa {
    display: inline-block;
}

.cabecalho__pesquisa form {
    border: 1px solid var(--cinza-claro);
}

.pesquisa__form {
    display: flex;
}

.pesquisa__input {
    border: none;
    padding-left: 1rem;
}
.pesquisa__input:focus,
.pesquisa__input:active,
.pesquisa__input:focus-visible {
    border: none;
    outline: none;
}
.pesquisa__input::placeholder {
    font-size: 1rem;
    font-weight: 100;
}
.pesquisa__icone {
    background: url(../img/search-icon.svg) center no-repeat;
    background-size: 50%;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
}

.cabecalho__menu-mobile {
    display: none;
}

.cabecalho__menu {
    align-items: center;
    display:  flex;
    margin-left: 17%;
    height: 100%;
}

.menu__botao {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 500;
    padding: .5rem .5rem 1.5rem .5rem;
    text-transform: uppercase;
}
.menu__botao:hover,
.menu__botao:active,
.menu__botao:focus,
.menu__botao:focus-visible {
    color: white;
    background: var(--preto);
    text-decoration: none;
    outline: none;
}

.cabecalho__carrinho {
    margin-left: 30%;
}

.carrinho__botao {
    border: none;
    background: url(../img/cart.svg) center no-repeat;
    background-size: 60%;
    cursor: pointer;
    padding: 15px 25px;
}

.cabecalho__mobile,
.cabecalho__mobile-menu {
    display:  none;
}

@media screen and (max-width: 1350px) {
    .estrela__header {
        border-bottom: 2px solid var(--preto);
    }
    .estrela__cabecalho {
        align-items: center;
        border: none;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 1rem 1rem .5rem 1rem;
    }

    .cabecalho__titulo {
        margin: 0;
    }
    
    .cabecalho__container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 0;
        width: initial;
    }
    
    .cabecalho__pesquisa form {
        border: none;
    }
    .pesquisa__input {
        display: none;
    }

    .pesquisa__icone {
        background-size: 70%;
        padding: .5rem 1rem;
    }
    .cabecalho__menu-mobile {
        background: none;
        background-image: url(../img/menu.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
        border: none;
        cursor: pointer;
        display: inline-block;
        margin: 0 1rem;
        height: 0;
        padding: 20px;
    }
    .cabecalho__menu,
    .menu__botao,
    .cabecalho__carrinho {
        display: none;
    }
    .cabecalho__carrinho {
        display: block;
        margin: 0;
    }

    .cabecalho__mobile {
        display: block;
    }
    .cabecalho__mobile-menu {
        display: flex;
        flex-direction: column;
    }
    /* .cabecalho__mobile-menu button {
        display: block;
    } */
}