@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

:root {
    --regular-font: 'Open Sans', sans-serif;
    --handwriting-font: 'Pacifico', cursive;
    --winter-font: 'Rowdies', cursive;
    --trending-font: 'UnifrakturCook', cursive;


    --branco: #FFF;
    --cinza-claro: #a7a7a7;
    --cinza-comum: #5c5c5c;
    --cinza-escuro: #222222;
    --preto: #000;
    --preto-transparente: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(8,8,8,0.7231267507002801) 55%, rgba(0,0,0,0.8995973389355743) 100%);
}

.estrela {
    font-family: var(--regular-font);
}

.link {
    background-color: var(--branco);
    border: 1px solid var(--preto);
    color: var(--preto);
    font-size: 1.3rem;
    font-weight: 500;
    padding: .2rem 1rem;
    text-decoration: none;
    transition: 300ms;
}
.link::after {
    content: '';
    background: url('../img/link\ externo.svg');
    display: inline-block;
    height: 15px;
    width: 15px;
}
.link:visited {
    color: var(--preto);
    text-decoration: none;
}
.link:hover,
.link:active,
.link:focus,
.link:focus-visible,
.link:target {
    background-color: var(--preto);
    color: var(--branco);
    outline: none;
}
.link:hover::after,
.link:active::after,
.link:focus::after,
.link:focus-visible::after,
.link:target::after {
    content: '';
    background: url('../img/link-externo-branco.png');
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.estrela__linha {
    display: block;
    border-top: 1px solid var(--preto);
    height: 1px;
}

@media screen and (max-width: 1000px) {
    
    .link {
        font-size: 1rem;
        padding: .2rem .5rem;
    }
    
}