<section class="resume">
	<div class="resume__itens">
		<div class="resume__itens-subtotal">
			<p>Subtotal</p>
			<span class="resume--price">{{ getTotal().toFixed(2) }}</span>
		</div>
		<div class="resume__itens-discount">
			<p>Desconto</p>
			<span class="resume--price">{{ getDiscount().toFixed(2) }}</span>
		</div>
	</div>
	<div class="resume__total">
		<div class="resume__total-value">
			<p>Total</p>
			<span class="resume--price">{{ (getTotal() - getDiscount()).toFixed(2) }}</span>
		</div>
		<button class="resume__total-button link">Finalizar Compra</button>
	</div>
</section>
