<app-header class="main__header" [selectedProducts]="selectedProducts"></app-header>
<main class="estrela">
	<app-winter-collection [products]="products"></app-winter-collection>
	<app-default-collection [products]="products" [selectedProducts]="selectedProducts"></app-default-collection>
	<app-categories [products]="products"></app-categories>
	<app-default-collection
		[products]="products"
		title="Novidades" [selectedProducts]="selectedProducts"
	></app-default-collection>
</main>
<app-footer></app-footer>
