.main__header {
	display: block;
	min-height: 76px;
}
.estrela {
	margin-top: 6rem;
	padding: 0 2rem;
}

@media screen and (max-width: 1350px) {
	.estrela {
		margin-top: 2rem;
		padding: 0 1rem;
	}
}
