<footer class="rodape">
	<p class="star">Black Star</p>
	<div class="rodape__sobre">
		<p>
			Black Star é um site fictício de compra de roupas feito como objeto
			de estudo.
		</p>
		<p>Você pode checar as redes sociais do criador nos links a seguir:</p>
		<div>
			<a href="https://github.com/delfo2" class="rodape__link">GitHub</a>
			<a
				href="https://www.linkedin.com/in/carlos-eduardo-araujo-morais-678974245/"
				class="rodape__link"
				>LinkedIn</a
			>
		</div>
		<p>
			Os ícones usados foram retirados desses sites:

			<a
				href="https://fontawesome.com"
				target="_blank"
				rel="noopener noreferrer"
				style="color: black"
				>FontAwesome</a
			>
			<span>, e </span>
			<a
				href="https://thenounproject.com"
				target="_blank"
				rel="noopener noreferrer"
				style="color: black"
				>TheNounProject</a
			>
		</p>
		<p>Outubro de 2023</p>
	</div>
</footer>
