input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

* {
	text-transform: capitalize;
}
.product__details,
.product__control,
.product__control-dashboard,
.product__price {
	display: flex;
}
button,
.product__img {
	cursor: pointer;
}
