<section
	*ngFor="let product of selectedProducts; let i = index"
	class="product slideInTop"
	[style.animation-delay]="getAnimateDelay(i + 1, 200)"
>
	<img
		src="{{ product.getProduct().render.img }}"
		alt=""
		class="product__img"
		[routerLink]="['/product', product.getId()]"
	/>
	<span class="product__details">
		<p>{{ product.getProduct().title.substring(0, 25) }}</p>
		<span>{{ product.getProduct().render.material.substring(0, 10) }}</span>
		<span>{{ product.getProduct().details.size }}</span>
	</span>
	<div class="product__control">
		<div class="product__control-dashboard">
			<button (click)="changeProductAmount(product.getId(), -1)" aria-label="Remover produto">
				-
			</button>
			<input
				aria-label="quantidade de produtos"
				type="number"
				name=""
				id=""
				pattern="^[0-9]*$"
				[valueAsNumber]="product.getAmount()"
				disabled
			/>
			<button (click)="changeProductAmount(product.getId())" aria-label="Adicionar produto">+</button>
		</div>
		<button
			class="product__control-delete"
			(click)="removeSelectedProductById(product.getProduct().id, false)"
		>
			Excluir
		</button>
	</div>
	<div class="product__price">
		<p>
			R${{
				getProductPriceWithDiscount(
					product.getProduct().price,
					product.getProduct().discountPercentage
				).toFixed(2)
			}}
		</p>
		<span *ngIf="product.getProduct().discountPercentage > 0"
			>R${{ product.getProduct().price }}</span
		>
	</div>
</section>
