/* RESET & NORMALIZE */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");

:root {
	--regular-font: "Open Sans", sans-serif;
	--handwriting-font: "Pacifico", cursive;
	--winter-font: "Rowdies", cursive;
	--trending-font: "UnifrakturCook", cursive;

	--branco: #fff;
	--cinza-claro: #a7a7a7;
	--cinza-comum: #5c5c5c;
	--cinza-escuro: #222222;
	--preto: #000;
	--preto-transparente: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(8, 8, 8, 0.7231267507002801) 55%,
		rgba(0, 0, 0, 0.8995973389355743) 100%
	);
}
