/* RESET & NORMALIZE */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

:root {
	--regular-font: "Open Sans", sans-serif;
	--handwriting-font: "Pacifico", cursive;
	--winter-font: "Rowdies", cursive;
	--trending-font: "UnifrakturCook", cursive;

	--branco: #fff;
	--cinza-claro: #a7a7a7;
	--cinza-comum: #5c5c5c;
	--cinza-medio: #353535;
	--cinza-escuro: #222222;
	--vermelho: #ff4e4e;
	--preto: #000;
	--preto-transparente: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(8, 8, 8, 0.7231267507002801) 55%,
		rgba(0, 0, 0, 0.8995973389355743) 100%
	);
}

* {
	box-sizing: border-box;
	font-family: var(--regular-font);
}

/* GENERICS */
/* LINK CLASS */
.link {
	align-items: center;
	background-color: white;
	border: 1px solid black;
	color: black;
	cursor: pointer;
	display: flex;
	font-weight: 500;
	justify-content: center;
	padding: 0.5rem 1rem;
	text-decoration: none;
	width: 100%;
	&:hover {
		background-color: white;
		border-color: white;
		filter: invert();
	}
	&::after {
		content: "";
		background-image: url("./assets/img/svg/link.svg");
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
		height: 15px;
		width: 15px;
		margin-left: 5px;
	}
}
@media screen and (max-width: 1000px) {
	.link {
		padding: 0.5rem 0.5rem;
	}
}

/* ÍNDICE CLASS */
.all_indice-btn {
	align-items: center;
	animation: fadeIn 500ms ease-in-out both;
	display: flex;
	justify-content: space-between;
	& > :nth-child(1)::after {
		animation: slideInRight 500ms ease-in-out both;
		background-image: url("src/assets/img/svg/home.svg");
	}
	& > :nth-child(2)::after {
		animation: slideInLeft 500ms ease-in-out both;
		background-image: url("src/assets/img/svg/reply.svg");
	}
}

.all_indice-btn > a {
	background: none;
	border: none;
	cursor: pointer;
	&:after {
		background-color: white;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 10px;
		border: 5px solid white;
		content: "";
		display: block;
		height: 30px;
		width: 30px;
	}
	&:hover,
	&:active,
	&:focus,
	&:focus-visible,
	&:target {
		filter: invert();
	}
}

/* RATING CLASS */
.rating {
	font-size: 1rem;
	height: 1rem;
	width: 5rem;
}
.rating-1 {
	&::before {
		color: black;
		content: "★";
	}
	&::after {
		content: "★★★★";
		color: var(--cinza-claro);
	}
}
.rating-2 {
	&::before {
		color: black;
		content: "★★";
	}
	&::after {
		content: "★★★";
		color: var(--cinza-claro);
	}
}
.rating-3 {
	&::before {
		color: black;
		content: "★★★";
	}
	&::after {
		content: "★★";
		color: var(--cinza-claro);
	}
}
.rating-4 {
	&::before {
		color: black;
		content: "★★★★";
	}
	&::after {
		content: "★";
		color: var(--cinza-claro);
	}
}
.rating-5 {
	&::before {
		color: black;
		content: "★★★★★";
	}
	&::after {
		content: "";
		color: var(--cinza-claro);
	}
}

/* ANIMATION CLASSES DEFAULT */
.slideInLeft {
	animation: slideInLeft 500ms ease-in-out both;
}
.slideInRight {
	animation: slideInRight 500ms ease-in-out both;
}
.slideInBottom {
	animation: slideInBottom 500ms both;
}
.slideInTop {
	animation: slideInTop 500ms both;
}
.fadeIn {
	animation: fadeIn 500ms ease-in-out both;
}

/* ANIMATIONS */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	25%,
	100% {
		transform: rotate(360deg);
	}
}

@keyframes slideInLeft {
	0% {
		transform: translateX(300px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes slideInRight {
	0% {
		transform: translateX(-300px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes slideInRight-middle {
	0% {
		transform: translateX(-350px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes slideInRight-far {
	0% {
		opacity: 0;
		transform: translateX(-635px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes slideInBottom {
	0% {
		transform: translateY(-200px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes slideInTop {
	0% {
		transform: translateY(300px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
