@keyframes addAnimation {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-30px);
		opacity: 0;
	}
}
div {
	position: relative;
}
span {
	animation: addAnimation 1s ease-in-out both;
	align-items: center;
	background-color: var(--vermelho);
	border-radius: 100%;
	color: white;
	display: flex;
	font-size: 0.7rem;
	height: 20px;
	left: 3px;
	justify-content: center;
	position: absolute;
	width: 20px;
	top: -25px;
	z-index: 3;
}
